@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";

.event-metabox{
    .format{
        color: $meta-gray;
        font-size: 0.88em;
        font-style: italic;
    }
    .field-error{
        display: none;
        color: $red;
        padding-left: 15px;
    }
}